/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured_services {
    padding: 80px 0;
}

.featured_services .service-item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.featured_services .service-item .icon {
    margin-right: 20px;
}

.featured_services .service-item .icon i {
    color: #001f8d;
    font-size: 48px;
    transition: 0.3s;
}

.featured_services .service-item:hover .icon {
    background: #fff;
}

.featured_services .service-item:hover .icon i {
    color: var(--color-primary);
}

.featured_services .service-item .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: #15227e;
    transition: 0.3s;
}

.featured_services .service-item .description {
    font-size: 18px;
    color: #132848;
    margin-bottom: 10px;
}

.featured_services .service-item .readmore {
    display: flex;
    align-items: center;
    color: #15227e;
    transition: 0.3s;
    font-weight: 700;
    font-size: 18px;
}

.featured_services .service-item .readmore i {
    margin-left: 8px;
}

.featured_services .service-item:hover .title,
.featured_services .service-item:hover .readmore,
.featured_services .service-item:hover .icon i {
    color: #5ca595;
}