.portfolioList{
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
}

.active_item {
    background-color: #5ca595;
    color: white;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .portfolioList{
        font-size: 15px;
        margin-right: 5px;
        font-weight: 700;
    }
}